__pycache__/
*.py[cod]
/output/
/input/
!/input/example.png
/models/
/temp/
/custom_nodes/*
!/custom_nodes/example_node.py.example
!/custom_nodes/ComfyUI-MiniMaxH3-TeaCache/
!/custom_nodes/ComfyUI_sol-attn_Blackwell/
!/custom_nodes/ComfyUI-SolAttn_triton/
!/custom_nodes/ComfyUI-MiniMaxH3-FirstBlockCache/
!/custom_nodes/ComfyUI-api-tools/
extra_model_paths.yaml
/.vs
.vscode/
.idea/
venv*/
.venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
/user/
*.log
web_custom_versions/
.DS_Store
filtered-openapi.yaml
uv.lock
.comfy_environment
wheels/
keys-SM121-Optimized-MiniMax-H3-Nvidia-Sol-Engine-Kijai-SolAttn_Triton-Single-DGX-Spark/
